<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <form action="/all-articles" method="post">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required>
     
        <label for="age">age:</label>
        <input type="text" id="age" name="age" required>
       
     
     
        <button class="create">Create</button>
      </form>
</body>
</html>